body {
    min-height: 100%;
    .soon--container {
        @include transform-translate(0, -50%);
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
        padding: 2rem;
        background-color: $siteBlue;
        text-align: center;
        -moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
        h1 {
            margin-bottom: .5rem;
            font-size: (40rem/16);
            font-weight: bold;
            color: $siteDarkBlue;
            text-transform: uppercase;
        }
        p {
            font-size: (20rem/16);
            color: $white;
        }
    }
}
