body {
    height: 100%;
    .body--dates {
        @include transform-translate(0, -50%);
        background: image-url('texture.png') $siteBlue;
        background-size: contain;
        height: 100%;
        width: 100%;
        top: 50%;
        right: 0;
        left: 0;
        background-color: $siteBlue;
        position: absolute;
        .dates--announcement {
            text-align: center;
            height: 4.5%;
            position: relative;
            .announcement--dates {
                @include transform-translate(0, -60%);
                display: none;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 95%;
                height: 80%;
                img {
                    @include transform-translate(0, -40%);
                    max-width: 95%;
                    max-height: 75%;
                    display: block;
                    margin: 0 auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                }
            }
            .dates--hide {
                @include hide-text();
                margin: 0;
                height: 0;
            }
        }
        .dates--capitol {
            width: 96%;
            height: 92%;
            bottom: 3.5%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-style: solid;
            border-width: 25px 30px 25px 30px;
            -moz-border-image: image-url('border.png') 100 125 99 repeat;
            -webkit-border-image: image-url('border.png') 100 125 99 repeat;
            -o-border-image: image-url('border.png') 100 125 99 repeat;
            border-image: image-url('border.png') 100 125 99 repeat;
        }
    }
}

.capitol--illustration {
    height: 55%;
    img {
        max-height: 90%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .illustration--text {
        @include hide-text();
        margin: 0;
        height: 0;
    }
}

.capitol--dates {
    height: 15%;
    img:nth-of-type(1) {
        margin: 0 auto;
        max-height: 35%;
        display: block;
    }
    img:nth-of-type(2) {
        margin: 2% auto 0 auto;
        max-height: 55%;
        display: block;
    }
}

.capitol--buttons {
    height: 30%;
    .buttons--margin:nth-of-type(1) {
        height: 10%;
    }
    .buttons--hn {
        max-width: 250px;
        margin: 0 auto;
        height: 20%;
        img {
            max-height: 90%;
            display: block;
            margin: 0 auto;
        }
        .hn--text {
            @include hide-text();
            margin: 0;
            height: 0;
        }
    }
    .buttons--margin {
        height: 7.5%;
    }
    .buttons--email {
        max-width: 250px;
        height: 30%;
        margin: 0 auto;
        img {
            max-height: 90%;
            display: block;
            margin: 0 auto;
        }
        .email--text {
            @include hide-text();
            margin: 0;
            height: 0;
        }
    }
    .buttons--social {
        @include flexbox();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(center);
        max-width: 340px;
        height: 25%;
        margin: 0 auto;
        .social--network {
            width: 13%;
            height: 100%;
            img {
                max-height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .social--text {
            @include hide-text();
            margin: 0;
            height: 0;
        }
        .social--network:nth-of-type(2) {
            margin: 0 5%;
        }
    }
}

@media only screen and (min-width: $tabletBreakpoint) {
    body {
        height: 100%;
        .body--dates {
            border: 12px solid white;
            .dates--announcement {
                text-align: center;
                height: 6%;
                position: relative;
                .announcement--dates {
                    display: block;
                }
            }
            .dates--capitol {
                height: 91%;
            }
        }
    }
    
    .capitol--illustration {
        height: 86%;
        img {
            max-height: 100%;
        }
    }
    
    .capitol--dates {
        display: none;
    }
    
    .capitol--buttons {
        @include flexbox();
        @include flexbox-align-items(center);
        @include flexbox-justify-content(space-between);
        margin-top: 1%;
        height: 16%;
        .buttons--hn {
            margin: 0 5% 0;
            height: auto;
        }
        .buttons--email {
            margin: 0;
            height: auto;
        }
        .buttons--social {
            margin: 0;
            height: 100%;
            .social--network {
                height: auto;
                img {
                    max-height: none;
                }
            }
        }
    }
}
