<!DOCTYPE html>
<html>
<head>
    <title>Lincoln Calling</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="eQMHBrF3X2AVKixRVKgGKGmP30p29shKjBpnOEFrTTM" />
</head>
<body>

    <%= yield %>

</body>
</html>
