<!DOCTYPE html>
<html>
<head>
    <title>Lincoln Calling</title>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700|Montserrat' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="eQMHBrF3X2AVKixRVKgGKGmP30p29shKjBpnOEFrTTM" />
</head>
<body>

    <%= yield %>

</body>
</html>
